<%- include('./partials/head') %>


<article class="header">
    <h1 class="h1">Initiatieven</h1>
    <p class="text">
        Blader door de verschillende initiatieven, laat je inspireren en doe mee! Heb je een eigen idee? Fantastisch! Wij ondersteunen je graag bij het opzetten van jouw initiatief. Samen maken we Amsterdam West nog mooier, groener en levendiger. Doe je mee?
    </p>
</article>


<ul class="initiatief-kaartlijst">
        <% initiatieven.forEach(function(initiatief){ %>
            <li class="initiatief-kaart">
            <div class="kaart-content">
                <h3 class="h3"> <%= initiatief.title %> </h3>
                    <p>Waar: <%= initiatief.neighbourhood.replace(/_/g, " ").split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ') %></p>
                    <p> Wanneer: <%= initiatief.start_date %> </p>
            </div>
                <!-- <div class="initiatief-image-container">
                    <img class="initiatief-image" src="https://fdnd-agency.directus.app/assets/<%= initiatief.image %>">
                </div> -->
            <a href="/detail/<%= initiatief.id %>" class="lees-meer">Lees meer ></a>
         <% }) %>
         <%- include('./partials/foot') %>
            </li>
</ul>
